$nav-bg: #333;
$main-container-bg: rgba(255,255,255,0.7);
$main-margin-bottom: 15px;

body{
    background-image: url('../images/bg5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    margin: 0 auto;
    max-width: 85rem;
    width: 100%;
    margin-bottom: $main-margin-bottom;
}

.Navigation{
    a{
        font-size: 20px;
    }
}
nav, .row{
    margin-bottom: $main-margin-bottom;
}

.MainContainer{
    min-height: 100vh;
    background-color: $main-container-bg; 
    border-radius: 5px;
    padding-bottom: 15px;
    @media #{$medium-and-down} {
        margin-left: 10px;
        margin-right: 10px;
    }
}

// it removes yellow background of input in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}