
.SubmitForm {
    
    padding-top: 120px;

    .SubmitForm__title {
        color: #333;
        margin-bottom: 50px;
    }
    
    .SubmitForm__form {
        
        .SubmitForm__field {
            margin-bottom: 20px;
        }
        .SubmitForm__input {
            
        }
        .SubmitForm__label {
            font-size: 18px;
            color: #000;
        }
        .SubmitForm__btn, i {
            color: #333;
            font-size: 20px;
        }
        
    }
    
}