
.Tanks { 
    
    padding: 20px 15px 0px 15px;
    @media #{$medium-and-down} {
        padding: 15px 5px 0px 5px;
    }
    
    .Tanks__delete-btn{
        height: 22px;
        line-height: 22px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    &__modal-header{
        color: #d32f2f;
    }
    
    &__modal-footer{
        text-align: center;
        padding-bottom: 20px;
        a{
            border: 1px solid #ddd;
            width: 110px;  
        }
        
    }
    &__modal-agree-btn{
        margin-right: 15px;
    }
    
}